
  <div class="container">

  
    <h1>Registration web Application</h1>
  
      <form method="post" action="/registration" >
      {{!-- <div class="form-row align-items-center"> --}}
        <div class="input-group mb-3 ">
          <span class="input-group-text input-group-prepend" id="inputGroup-sizing-default">Reg Number</span>
          <input type="text" class="form-control input" aria-label="Sizing example input" pattern='[A-Z]{2,3}\s\d{3}\W\d{3}|[A-Z]{2,3}\s\d{3,6}'title="Please add the right format eg CA 1425" placeholder="CA 111-111" name="names" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="error">
          {{#if messages.info}}
          <span class="err">{{messages.info}}</span>
          {{/if}}
        </div>
        <br>
        
        <div class="row ">
          <button type="submit" class="btn btn-primary form-control col-6">Add</button>
<a href="/registration/reset" title="this will delete all you registratio numbers" class="btn btn-danger form-control col-6" name="button">reset</a>

      </div>
   

    <br>

  {{!-- </div> --}}
    <div class="towns2">
      <h5>SELECT BY TOWN</h5>
      <hr>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="menu" data-toggle="dropdown">All Towns
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu " class="form-control">
          <li>
            <a href="/All" class="form-control">All</a>
          </li>
          <li>
            <a href="/CA">Cape Town</a>
          </li>
          <li>
            <a href="/CY">Bellville</a>
          </li>
          <li>
            <a href="/CJ">Paarl</a>
          </li>
          <li>
            <a href="/CL">Stellenbosch</a>
          </li>
          <li>
            <a href="/CK">Malmersbury</a>
          </li>
          <li>
            <a href="/CAW">George</a>
          </li>
        </ul>
      </div>
</div>
    </form>


<hr>
<div class="veza">
  <div class="regNum2">
    {{#each display}}
    <span class="display">{{num_plates}}</span>
    {{/each}}
  </div>
</div>
</div>

