*{
    margin: outo;
}
body{
    text-align: center;
}
h1{
    background-color: sienna;
    /* font-weight: bolder; */
}
.container-fluid{
    text-align: center;
}
input{
    width: 50%;
}
form{
    width:60%;
    margin:auto;
    margin-top: 5em;
    
}
.display{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(218, 73, 21);
    font-weight: bolder;
    width: 100px; 
}
.err{
    color: crimson;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2em;
}
button{
    width: 500px;
    padding: 20px;
    margin: auto;
    /* margin: auto; */
}
.dropDown2{
    width: 300px;
    margin: auto;
}