*{
    margin: auto;
}
body{
    text-align: center;
    margin: auto;
    
}
.buttons{
    margin-left: 70px;
}
h1{
    background-color: sienna;
     font-weight: bolder; 
     width: 100%;
}

a{
    border: 1px solid white;
    border-radius: 5px;
}
.btn{
    margin: 5px;
    font-weight:bold;
}
 form{
     margin:auto;
    margin-top: 2em;
    
}
.display{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(218, 73, 21);
    font-weight: bolder;
    font-size: 1em;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    display:inline-block;
}
.err{
    color: crimson;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2em;
}
li{
    margin: auto;
    font-weight: bold;
    color:blue;
    text-align: center;
}
@media (min-width: 750px) {
    .input{
        width: 100%;
    }
}